<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <div id="app">
        <h1 v-cloak>{{message}}</h1>
        <div class="newTask">
            <input type="text" v-model="newTodo" @keypress.enter="addTodo" placeholder="Please enter your todolist">
            <!-- v-model意在将input.value与data.newTodo双向绑定，在input中输入内容并回车，新建一个待办项li  -->
        </div>
        <ol class="todos">
            <li v-for="todo in todoList" v-cloak>
                <input type="checkbox" :checked="todo.done" @change="toggleTodo(todo)"  v-cloak> {{todo.title}}
                
                <span v-cloak>/{{formatedTime(todo.createdAt)}}创建</span>
                <span v-if="todo.done" v-cloak>/{{formatedTime(todo.doneAt)}}已完成</span>
                <span v-else>未完成</span>
                <!-- 根据用户是否点击按钮来决定是否完成该待办项  -->

                <button @click="removeTodo(todo)">&times</button>
                <!-- 点击按钮移除待办项  -->
            </li>
        </ol>
    </div>
    <script src="bundle.js">

    </script>
</body>

</html>