<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <div id="app">
        <section id="loginAndSignUp" v-if="!currentUser">
            <div>
                <label><input type="radio" name="type" v-model="actionType" value="signUp">注册</label>
                <label><input type="radio" name="type" v-model="actionType" value="login">登录</label>
            </div>

            <div class="signUp" v-if="actionType==='signUp'">
                <form @submit.prevent="signUp">
                    <div class="formRow">
                        注册用户名<input type="text" v-model="formData.username">
                    </div>
                    <div class="formRow">
                        密码<input type="password" v-model="formData.password">
                    </div>
                    <div class="formActions">
                        <input type="submit" value="注册">
                    </div>
                </form>
            </div>

            <div class="login" v-if="actionType==='login'">
                <form @submit.prevent="login">
                    <div class="formRow">
                        登录用户名<input type="text" v-model="formData.username">
                    </div>
                    <div class="formRow">
                        密码<input type="password" v-model="formData.password">
                    </div>
                    <div class="formActions">
                        <input type="submit" value="登录">
                    </div>
                </form>
            </div>
        </section>

        <section id="todo" v-if="currentUser">
            <h1 v-cloak>{{message}}</h1>
            <div class="newTask">
                <input type="text" v-model="newTodo" @keypress.enter="addTodo" placeholder="Please enter your todolist">
                <!-- v-model意在将input.value与data.newTodo双向绑定，在input中输入内容并回车，新建一个待办项li  -->
            </div>
            <ol class="todos">
                <li v-for="todo in todoList" v-cloak>
                    <input type="checkbox" :checked="todo.done" @change="toggleTodo(todo)" v-cloak> {{todo.title}}
                    <span v-cloak>{{formatedTime(todo.createdAt)}}创建</span>
                    <span v-if="todo.done" v-cloak>{{formatedTime(todo.doneAt)}}已完成</span>
                    <span v-else>未完成</span>
                    <!-- 根据用户是否点击按钮来决定是否完成该待办项  -->

                    <button @click="removeTodo(todo)">&times</button>
                    <!-- 点击按钮移除待办项  -->
                </li>
            </ol>
        </section>
    </div>
    <script src="bundle.js">

    </script>
</body>

</html>